* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background-color: #fffaf5;
}

/* ======== Common ======= */

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
}

.section {
    padding: 130px 0;
}

.section__row {
    display: flex;
}

.section__label {
    display: inline-block;
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    line-height: 1;
    color: #5e6085;
}

.section__heading {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.1923;
    color: #000958;
}

.section__desc {
    font-size: 1.6rem;
    line-height: 1.875;
    color: #656689;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 131px;
    height: var(--height);
    line-height: var(--height);

    border-radius: 99px;
    border: 1px solid rgb(255, 91, 46, 0.6);
    background-color: transparent;

    color: var(--primary-color);

    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn--primary {
    --height: 60px;

    min-width: 189px;
    background-color: var(--primary-color);

    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

/* ======== HEADER ======== */

.header {
    position: sticky;
    top: -18px;
    z-index: 1;
    padding: 26px 0 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #fffaf5;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__link,
.header-action__link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    transition: font-weight 0.05s ease;

    padding: 8px 18px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: #5e6085;
}

.navbar__link::after {
    content: attr(data-text);
    font-weight: 600;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}

.navbar__link:hover {
    font-weight: 600;
    color: #000958;
}

.header-action__btn {
    --height: 50px;

    min-width: 117px;

    border: 1px solid rgba(0, 9, 88, 0.7);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    color: #000958;
}

/* ======== Hero ======== */
.hero {
    padding: 92px 0 77px;
}

.hero__wrap {
    display: flex;
    align-items: center;
}

/* Hero media */

.hero-media {
    position: relative;
    display: flex;
    width: 47.1%;

    padding-bottom: 94px;
}

.hero-media-image__wrap {
    --margin-bottom: -3px;

    position: relative;
    flex-shrink: 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 388px;
    height: 488px;

    border: calc(var(--margin-bottom) * -1) solid #fff;
    border-radius: 16px;
    background-color: #fe997b;
}

.hero-media-image__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;

    margin-bottom: var(--margin-bottom);
}

.hero-media-image__decor {
    position: absolute;
}

.hero-media-image__decor--left {
    left: -58px;
    bottom: 10px;
    z-index: -1;
}

.hero-media-image__decor--right {
    top: 17px;
    right: -44px;
    z-index: -1;
}

.hero-media-image__wrap--small {
    --margin-bottom: -2px;

    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;

    background: linear-gradient(135deg, #faa7ad 0%, #e87f8a 100%);
    border: calc(var(--margin-bottom) * -1) solid rgba(255, 255, 255, 0.65);
    border-radius: 16px;
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.hero-media-box-content {
    flex-shrink: 0;

    position: absolute;
    bottom: 0;
    right: 172px;

    padding: 18px 14px;
    width: 250px;
    height: 156px;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.media-box-content-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.media-box-content-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    background-color: #fec23f;
    border-radius: 10px;
}

.media-box-content-item:last-child .media-box-content-item__thumb {
    background-color: #c6e2fa;
}

.media-box-content-item__info {
    display: flex;
    flex-direction: column;
}

.media-box-content-item__title {
    margin-bottom: 7px;

    font-size: 1.4rem;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    line-height: 1;
    color: #181e52;
}

.media-box-content-item__skeleton-screen {
    width: 118px;
    height: 4px;
    opacity: 0.08;
    background-color: #000958;
    border-radius: 10px;
}

.media-box-content-item__skeleton-screen + .media-box-content-item__skeleton-screen {
    margin-top: 6px;
}

.hero-media-separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;

    background-color: #f2f2f2;
}

/* Hero content */

.hero-content {
    padding-left: 119.51px;
}

.hero-content__heading {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.1515;
    color: #000958;
}

.hero-content__desc {
    margin-top: 24px;
    max-width: 391px;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #656689;
}

.hero-cta {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 38px;
}

.hero-cta__icon-wrap {
    display: inline-block;

    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 1;
}

.hero-cta__btn {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero-cta__link {
    padding: 8px 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    color: #000958;
    text-decoration: underline;
}

/* ======== About ======== */

.about {
}

.about-item,
.features-item {
    display: flex;
    width: 100%;
    align-items: center;
}

.about-item__heading,
.about-item__desc {
    width: 444px;
}

.about-item__heading {
    margin-top: 15px;
}

.about-item__desc {
    margin-top: 24px;
}

.about-check-list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 34px 36px;
}

.about-check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #48496a;
}

.about-check-item::before {
    content: "";
    display: inline-block;
    flex-shrink: 0;

    width: 24px;
    height: 24px;
    background-color: #ff5d31;
    border-radius: 4px;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about-check-item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../icons/check-icon.svg);
}

/* About item media */

.about-item__media {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    margin-left: auto;
    width: 494px;
    height: 559px;
}

.about-item__media::before {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    display: block;
    width: 100%;
    height: 336px;
    background: linear-gradient(135deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about-item__media::after {
    content: url(../img/about-item-media-decor.svg);
    position: absolute;
    top: 157px;
    right: -50.63px;
    z-index: -1;
}

.about-item-media-card {
    position: absolute;
    top: 165px;
    left: -92px;

    width: 136px;
    height: 156px;
    padding: 31px 26px 29px;

    text-align: center;

    background-color: #5bd6e2;
    border-radius: 10px;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about-item-medi-card__title {
    font-size: 4.2rem;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
}

.about-item-media-card__desc {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.4286;
    color: #c6f4f9;
}

.about-item-media-card__icon {
    position: absolute;
    top: -38px;
    right: -32px;
}

.about-item-media__image {
    width: 450px;
    vertical-align: bottom;
}

/* ======== Feature ======== */

.features {
    padding: 16px 0 185px;
    /* margin-top: 16px; */
}

.features-item {
    flex-direction: row-reverse;
}

.features-item__heading {
    width: 543px;
}

.features-item__desc {
    margin-top: 24px;
    width: 511px;
}

.features-item__media {
    position: relative;
    width: 458px;
    height: 500px;
    margin-right: auto;
}

.features-item-media__image {
    width: 100%;
}

.features-item__media::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 500px;
    z-index: -1;

    background: linear-gradient(135deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff; /* inside */
    border-radius: 18px;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.features-item__media::after {
    content: none;
}

.features-item-media-decor {
    position: absolute;
}

.features-item-media-decor:nth-child(1) {
    top: 12.5px;
    right: 63.16px;
}

.features-item-media-decor:nth-child(2) {
    top: -16px;
    right: 13px;
}

.features-item-media-decor:nth-child(3) {
    top: 33px;
    right: -21px;
}

.features-item-media-decor:nth-child(4) {
    top: 268px;
    right: -33px;
}

.features-item-media-decor:nth-child(5) {
    top: 336px;
    right: 19px;
}

.features-item-media-decor:nth-child(6) {
    right: -23.21px;
    bottom: -39.21px;
}

.features-item-media-decor:nth-child(7) {
    right: -32.6px;
    bottom: -46.9px;
}

.features-item-media-decor:nth-child(8) {
    right: -42px;
    bottom: -54.58px;
}

.features-item__content {
    margin-top: 20px;
}

.features-info__list {
    position: relative;
    margin-top: 45px;
    display: flex;
    align-items: center;
    column-gap: 56px;
}

.features-info__list::after,
.features-info__item--active::after,
.features-info__more::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;

    background-color: #ff5b2e;
    opacity: 0.07;
}

.features-info__item--active::after {
    width: 95px;
    opacity: 1;
}

.features-info__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;

    padding: 10px 0;

    font-size: 1.8rem;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    line-height: 1;
    color: #48496a;

    cursor: pointer;
}

.features-info__icon {
    width: 20px;
}

.features-info-body__wrap {
    padding-top: 36px;
}

.features-info-body__item {
    display: none;
}

.features-info-body__item--active {
    display: block;
}

.features-info__desc {
    width: 391px;
    font-size: 1.4rem;
    line-height: 1.7143;
    color: #656689;
}

.features-info__more {
    position: relative;
    display: inline-block;
    margin-top: 27px;
    padding: 5px 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    color: #ff5d31;
}

.features-info__more::after {
    opacity: 1;
}
